## 파이썬 기초

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷

#### 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [1]:
!python -V

Python 3.9.13

In [2]:
# 표현식 - 어떤 값을 나타내는 간단한 코드
print(273)
10+20+30

273

60

In [3]:
# 표현식이 하나 이상씩 모이면 문장
print('Hello Python')
print(52, 'Hellow Python', 5+3)

Hello Python
52 Hellow Python 8

In [4]:
# 문장이 모여서 프로그램
a=1;b=2;c=a+b
print(c*c+c)

12

In [5]:
# 변수명 만들기
a = 1
b = 1
n = 'j'
c= ' is very nice'

In [6]:
# 프로그래밍
print('안녕하세요')
a = 1
b = 1
print(a+b)
print(n+c)

안녕하세요
2
j is very nice

In [7]:
name = 'j'
a = '2'
b = '9'
c = 20
d = 9

print(f'저의 이름은 {name}이고 나이는 {a+b}입니다.')
print('저의 이름은 %s이고 나이는 %s입니다.' %(name, c+d))

저의 이름은 j이고 나이는 29입니다.
저의 이름은 j이고 나이는 29입니다.

#### 표현식(Expression)
- 파이썬을 포함한 프로그램 언어는 '표현식(expresstion)'과 '문장(statement)'이라는 것으로 구성
- '표현식(expression)'은 간단하게 '식'이라고 부르기도 하는데요, 하나 이상의 값으로 표현될 수 있는 코드를 의미
- 프로그램 언어에서 숫자나 문자 또는 수학의 사칙연산과 같은 것들이 표현식인 것입니다. 이것들은 그 자체만으로 어떠한 값을 갖는다고 평가
- 숫자, 문자 그리고 사칙연산 이외에도 이후에 보게 될 '함수 호출(반환되는 값)', '변수 이름과 같은 식별자' 등도 표현식에 포함

In [ ]:
100 # 숫자 100은 100이라는 숫자로 값을 가지므로 표현식
100+200 # 100+200은 사칙연산으로 인해 300이라는 값을 가지므로 표현식
"hello, python" # 문자열로 "hello, python"이라는 값을 가지므로 표현식
+ # +는 자체만으로 어떠한 값도 가지지 않기 때문에 표현식이 아님
- # -도 위와 동일한 이유로 표현식이 아님

#### 문장(Statement)
- '문장(statement)'은 하나 이상의 표현식이 모인 것으로 프로그래밍에서는 #실행 가능한 최소의 독립적인 코드 조각#
- 문장은 단독적으로 컴파일러가 이해하고 실행할 수 있음
- 파이썬 코드의 한 줄, 또는 블록으로 된 것들을 하나의 문장이라고 할 수 있음
- 문장이 모여 하나의 '프로그램(program)'이 된다.
- 표현식이 모여 문장이 되고, 문장이 모여 프로그램이 되는 것

In [ ]:
word = "python" # 하나의 문장입니다. 
a = 100 + 200 # 또 다른 하나의 문장입니다.

if a > 500: # 이 두 줄은 if문이라고 해서 블록을 이루는 하나의 문장이 됩니다.
    print(word)

In [9]:
# 문장이 모여서 프로그램
a = 1;b = 1;c=a+b
print(c)

2

#### 키워드(keyword)
- '키워드(keyword)'는 각 프로그램 언어에서 특정 용도로 사용하기 위해 만들어진 특별한 의미를 가지는 예약된 단어
- 프로그래밍 언어에서 사용자가 '변수'나 '함수' 등의 이름을 정할 때 키워드를 사용할 수 없다. 
- 키워드로 쓰이는 단어는 프로그램을 작성할 때 그 용도가 아니면 사용을 할 수 없기 때문에 어떤 단어가 키워드로 쓰이는지 알아야 함.

In [10]:
# python keyword
import keyword
print(keyword.kwlist,'\n')
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

36

In [11]:
# 예약어는 변수로 사용할 수 없다.
and = 1

SyntaxError: invalid syntax (1279100936.py, line 2)

식별자 기본 규칙 : 프로그램 언어에서 '변수', '함수', '클래스', '모듈' 등 다른 객체를 표현하기 위해 이름을 붙일 때 사용하는 단어
- 키워드를 사용하면 안된다.
- 특수만자는 언더 바(_) 만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [12]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자
AlpHa
ALPHA
has space # 공백

SyntaxError: invalid syntax (2613662511.py, line 5)

https://bibi6666667.tistory.com/277

파이썬은 snake_case와 Camelcase를 모두 사용

 - itemlist tiem_list ItemList
 - loginstatus login_status loginStatus
 - 캐멀 케이스(대문자로 시작) 클래스
 - 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
 - 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

#### 주석(Comment)
단축키( # or shift+/)
- 주석(comment)은 프로그램에 영향을 주지 않는 것으로 프로그램을 실행할 경우 무시되는 코드 영역
- 주석은 보통 코드에서 중요한 부분에 대한 설명을 하기 위해 사용
- 테스트 중에 잠시 필요하지 않은 코드 조각을 실행하고 싶지 않을 때 해당 부분을 주석으로 처리

In [ ]:
# 이것이 파이썬의 주석입니다. 
# 이 부분은 실행이 안됩니다. 

a = 1
b = 2
#c = 3 # 이 부분도 실행되지 않습니다.

In [ ]:
# 변수에 값 대입하기
number1 = 1 # 정수
pi = 3.14 # 실수
flag = True # boolean
char = 'x' # 문자
char = 'I love Python!' # 문자로 구성된 문자열

In [14]:
# 변수에 값이 대입되는 시점에 변수의 자료형은 자동적으로 다시 정해진다.
number = 1 #정수
number + 2
print(number,type(number))
number = 'one' #문자
print(number,type(number))

1 <class 'int'>
one <class 'str'>

In [15]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어

if 3 in [1,2,3,4]: print('3이 있습니다.')

3이 있습니다.

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형 
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set) - 중복을 허용하지 않고 순서가 없음
  - 블린 : 참, 거짓을 표현

In [16]:
# 자료형 출력
a = 200
msg = 'I love Python'
list_data = ['a', 'b', 'c']
dict_data = {'a':97, 'b':98}
print(a)
print(msg)
print(list_data)
print(list_data[0])
print(dict_data)
print(dict_data['a'])

200
I love Python
['a', 'b', 'c']
a
{'a': 97, 'b': 98}
97

#### 시퀀스 자료 인덱싱
- 시퀀스 자료 인덱스는 0부터 시작하며 음수 인덱스도 가능
- 슬라이싱은 \[시작인덱스:끝인덱스:스텝\]으로 표현하며 스텝은 생략할 수 있음
- 자료형이 같은 시퀀스 자료를 순서있게 연결할 수 있다.

In [17]:
# 시퀀스 자료 인덱싱
strdata = 'Time is money'
listdata = [1,2,[1,2,3]]
print(strdata[5]) # 'i'가 출력
print(strdata[-2]) # 'e'가 출력
print(listdata[0]) # 1이 출력
print(listdata[-1]) # [1,2,3]이 출력
print(listdata[2][-1]) # 3이 출력

i
e
1
[1, 2, 3]
3

#### Q 슬라이싱을 이용하여 아래와 같이 출력하세요

strdata = 'Time is money!!'

ime

Time is

oney!!

Time is mone

y!!

Time is money!!

Tm smny!

In [19]:
strdata = 'Time is money!!'
print(strdata[1:4])
print(strdata[:7])
print(strdata[9::])
print(strdata[:12])
print(strdata[-3:])
print(strdata[:])
print(strdata[0::2])

ime
Time is
oney!!
Time is mone
y!!
Time is money!!
Tm smny!

#### Q 시퀸스 자료 연결(+)을 이용하여 아래와 같이 출력하세요

strdata1 = 'I love'; strdata2 = ' Python'; strdata3 = 'you'

listdata1 = [1,2,3]; listdata2 = [4,5,6]

I love Python

I love you

[1, 2, 3, 4, 5, 6]

In [21]:
strdata1 = 'I love'; strdata2 = ' Python'; strdata3 = 'you'
listdata1 = [1,2,3]; listdata2 = [4,5,6]
print(strdata1 + strdata2)
print(strdata1 +' '+ strdata3)
print(listdata1 + listdata2)

I love Python
I love you
[1, 2, 3, 4, 5, 6]

#### Q 시퀀스 자료 반복 연결(*)을 이용하여 아래와 같이 출력하세요

artist = '빅뱅'

sing = '뱅~'

빅뱅이 부르는 뱅~뱅~뱅~

빅뱅이 부르는 뱅~뱅~뱅~

In [23]:
artist = '빅뱅'
sing = '뱅~'

print(f'{artist}이 부르는 {sing * 3}')
print('%s이 부르는'%artist,sing*3)

빅뱅이 부르는 뱅~뱅~뱅~
빅뱅이 부르는 뱅~뱅~뱅~

#### Q 시퀀스 자료 크기를 구하세요

strdata1 = 'I love python'

strdata2 = '나는 파이썬을 사랑합니다'

listdata = ['a','b','c', strdata1, strdata2]

13

13

5

13

In [29]:
strdata1 = 'I love python'
strdata2 = '나는 파이썬을 사랑합니다'
listdata = ['a','b','c', strdata1, strdata2]

print(len(strdata1))
print(len(strdata2))
print(len(listdata))
print(len(listdata[3]))

13
13
5
13

In [31]:
#Q strdata 'c', 1이 각각 포함되어 있는지에 대하여 불린값으로 반환하는 코드를 작성하세요
strdata = 'abcde'
print('c' in strdata)
print('1' in strdata)

True
False

In [32]:
#Q listdata에 5,4 가 각각 포함되어 있는지에 대하여 불린값으로 반환하는 코드를 작성하세요
listdata4=[1,2,3,4]

if 5 in listdata4:
    print(True)
else:
    print(False)
if 4 in listdata4:
    print(True)
else:
    print(False)
    
# print(5 in listdata)
# print(4 in listdata)

False
True

#### 2진수, 8진수, 16진수
https://itbeginner2020.tistory.com/17

### 2진수, 8진수, 16진수의 데이터 표현 방법
- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.

- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다.

- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b)

- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o)

- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x)

아래의 예시를 보자. 변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는

- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [33]:
int_data = 10
bin_data = 0b10
oct_data = 0o10
hex_data = 0x10
print(int_data)
print(bin_data)
print(oct_data)
print(hex_data)

10
2
8
16

In [34]:
a = 0o172 # 8진수 0o 로 시작
b = 0x7A # 16진수 0x 로 시작
c = 0b1111010 # 2진수 0b 로 시작
print(a)
print(b)
print(c)

122
122
122

In [35]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o로 시작
f = 0xABC # 16진수 0x로 시작
g = 0b101010 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [36]:
# 2진수를 10진수로 표현
g1 = 0b100000
g2 = 0b1000
g3 = 0b10
print(g1)
print(g2)
print(g3)

32
8
2

In [37]:
# 16진수를 10진수로 표현
f1 = 0xA
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)
print(16*10+1*11)

10
11
171
171

In [38]:
#실수형 자료
f1 = 1.0
f2 = 3.14
f3 = 1.56e3 # 1.56 x 10의 3승
f4 = -7e-5 # -7 x 10의 -5승 
f5 = -0.7e-4 # -0.7 x 10의 -4승
print(f1)
print(f2)
print(f3)
print(f4)
print(f5)
print('{:.5f}'.format(f5))

1.0
3.14
1560.0
-7e-05
-7e-05
-0.00007

In [39]:
1.56*1000

1560.0

In [40]:
print(-7/100000)
print(-0.7/10000)

-7e-05
-7e-05

In [41]:
# 실수형 자료와 정수형 자료 연산 결과는 실수형 자료가 된다.
i = 2
f = 4.0
print(i+f)

6.0

In [42]:
# 사칙연산
a = 10
b = 2
c = a + b
d = a * b
e = a / b
f = a % b #나머지
g = a // b #몫
h = a ** b # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
100

In [43]:
a = 2
b = 4
ret1 = a+b
ret2 = a - b
ret3 = a*b         
ret4 = a/b         
ret5 = a**b        
ret6 = a+a*b/a     
ret7 = (a+b)*(a-b)  
ret8 = a*b**a   
print(ret1)
print(ret2)
print(ret3)
print(ret4)
print(ret5)
print(ret6)
print(ret7)
print(ret8)

6
-2
8
0.5
16
6.0
-12
32

In [45]:
# 다른 타입간 연산은 안됨
string = '문자열'
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [46]:
string + str(number)

'문자열273'

In [47]:
string = "문자열 "
number = '273'
string + number

'문자열 273'

In [48]:
a = 10
a = "문자"
a = 100
b = "문자"
print(a)
print(type(a))
print(a,type(a),b,type(b))

100
<class 'int'>
100 <class 'int'> 문자 <class 'str'>

In [49]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [51]:
num = 100
num *= 10
num -= 990
num

10

In [52]:
a = '나는'
b = '파이썬을'
c = '좋아한다'
a + b + c

'나는파이썬을좋아한다'

In [53]:
a = 1
b = '안녕'
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [54]:
# 사용자 입력
input('인사말을 입력하세요:')

인사말을 입력하세요:안녕하세요

'안녕하세요'

In [55]:
num = input('숫자를 입력하세요:')
print(num)
type(num)

숫자를 입력하세요:5
5

str

In [56]:
num1 = input('숫자를 입력하세요:')
num2 = input('숫자를 입력하세요:')
print (num1 + num2)

숫자를 입력하세요:5
숫자를 입력하세요:5
55

In [57]:
num = int(input('숫자'))
type(num)

숫자5

int

In [59]:
# input() 함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환 필요
num1 = input('숫자를 입력하세요:')
num1_n = int(num1)
num2 = input('숫자를 입력하세요:')
num2_n = float(num2)
print (num1_n + num2_n)

숫자를 입력하세요:10
숫자를 입력하세요:10
20.0

Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

In [60]:
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = float(num2)
print(num1_n + num2_n)
# print(num1 + num2)

숫자를 입력하세요3
숫자를 입력하세요3
6.0

Q. a = 52 와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요.

In [61]:
a = '52'
b = '52.273'
print(a + b)
type(a + b)

5252.273

str

In [65]:
a = 52
b = 52.273
print(str(a) + str(b))

5252.273

In [66]:
# 문자열 : "", '', """ """, ''' '''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)

python's value is great

In [67]:
s1 = '"python is valuable" he says'
s1

'"python is valuable" he says'

In [68]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [69]:
y1 = "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
You need Python'''
print(y2)
y3 = """Once you study data analysis
You need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
You need Python
Once you study data analysis
You need Python

In [70]:
# string = '''"What a wonderful world!"\n he said loudly'''
string = '''"What a wonderful world!"
he said loudly'''
print(string)

"What a wonderful world!"
he said loudly

In [72]:
string = '"What a wonderful world!"\n he said loudly'
print(string)

"What a wonderful world!"
 he said loudly

In [73]:
#문자열 연산
a1 = 'Python'
a2 = 'is easy to learn'
print(a1 + a2)
print(a1 * 3)
print('='*10)

Pythonis easy to learn
PythonPythonPython
==========

In [75]:
# 자료형 - List
# 리스트는 [] 로 표시하며 []안의 요소를 콤마로 구분항여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [76]:
# 인덱싱 : 0부터 시작
list1 = [1,2,3,4,5]
list1[:]
list3[2]
list3[3][4]
list3[4][1]

'b'

In [77]:
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
list3[4][1]

'b'

In [78]:
# 리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
a[0] = 1
b[1] = 'a'
print(a)
print(b)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [81]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
c = a + b
print(c)
c[-1] = 1
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 1]

In [82]:
c[-2] = 2
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 2, 1]

In [83]:
# 정렬
b = [2,4,3,1]
b.sort()
print(b)
# 내림차순
b_d = sorted(b, reverse=True)
print(b_d)
b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [84]:
a = [1,4,2,3]
a.reverse()
print(a)

[3, 2, 4, 1]

In [85]:
b = [2,4,3,1]
b_d = sorted(b, reverse=True)
print(b_d)
b.reverse()
print(b)

[4, 3, 2, 1]
[1, 3, 4, 2]

In [86]:
# 정렬 ,내림차순으로 변환
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

s.sort()
print(s)
s_d = sorted(s, reverse=True)
print(s_d)
s.reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [87]:
# 인덱스 위치 반환
c = [1,2,3,1,5]
print(c.index(2))

1

In [90]:
import numpy as np

np.random.randint(5, size=100) # 0 ~ 4 사이에서 무작위로 100개의 정수를 배열로 출력

array([3, 2, 2, 1, 0, 1, 4, 0, 3, 2, 4, 3, 2, 4, 1, 0, 2, 4, 4, 4, 3, 2,
       2, 2, 2, 2, 2, 1, 1, 4, 1, 3, 2, 1, 0, 0, 4, 4, 2, 2, 1, 0, 3, 3,
       4, 3, 1, 2, 4, 2, 3, 2, 4, 0, 2, 2, 3, 2, 0, 2, 3, 4, 2, 2, 1, 0,
       2, 4, 2, 1, 1, 0, 2, 4, 0, 1, 2, 2, 1, 3, 2, 2, 0, 4, 3, 2, 3, 3,
       3, 0, 4, 1, 1, 1, 0, 1, 3, 1, 2, 4])

In [92]:
# tolist() 리스트로 변환
import numpy as np

c = np.random.randint(100, size=100). tolist()
print(c)
print(len(c))
c.index(1) #1의 인덱스

[38, 6, 94, 70, 47, 20, 99, 9, 41, 25, 39, 93, 71, 72, 27, 27, 80, 66, 84, 83, 8, 35, 32, 99, 16, 2, 59, 46, 11, 78, 25, 43, 3, 68, 34, 12, 57, 44, 91, 38, 55, 13, 48, 62, 15, 6, 47, 6, 9, 99, 18, 13, 19, 60, 83, 92, 86, 66, 62, 30, 50, 23, 8, 50, 64, 70, 1, 15, 21, 12, 85, 50, 98, 3, 1, 16, 20, 83, 64, 50, 36, 52, 2, 34, 2, 32, 9, 35, 61, 10, 7, 66, 51, 31, 94, 50, 55, 56, 58, 61]
100

66

In [93]:
# 개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(5))

2

In [94]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
# 추가
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.insert(10,7)
print(h)
len(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

8

Q. list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]에서 아래와 같이 출력하세요

list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 2, 4, 6, 8]

[1, 3, 5, 7, 9]

[2, 1, 0]

In [95]:
list = [0,1,2,3,4,5,6,7,8,9]
print(list[0::2])

[0, 2, 4, 6, 8]

In [96]:
list = [0,1,2,3,4,5,6,7,8,9]
print(list[1::2])

[1, 3, 5, 7, 9]

In [97]:
list = [0,1,2,3,4,5,6,7,8,9]
list.reverse()
print(list[7:])

[2, 1, 0]

In [98]:
list = [0,1,2,3,4,5,6,7,8,9]
del list[0:2]
print(list)

[2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
list = [0,1,2,3,4,5,6,7,8,9]
list[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
list = [0,1,2,3,4,5,6,7,8,9]
list[2::-1]

[2, 1, 0]

In [101]:
list = [0,1,2,3,4,5,6,7,8,9]
list[3::-2]

[3, 1]

In [102]:
list = [0,1,2,3,4,5,6,7,8,9]
list[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [103]:
list = [0,1,2,3,4,5,6,7,8,9]
list[::-3]

[9, 6, 3, 0]

In [104]:
list = [0,1,2,3,4,5,6,7,8,9]
del list[3:]
list.reverse()
print(list)

[2, 1, 0]

In [105]:
list = [0,1,2,3,4,5,6,7,8,9]
list.reverse()
del list[:7]
print(list)

[2, 1, 0]

In [106]:
np.random.randint(100, size=20)

array([36,  7, 50, 55, 92, 23, 14, 28, 33, 81, 16, 16, 12,  1, 97, 77, 24,
       96, 66, 32])

- 33을 출력
- 82를 리스트에 추가
- 82의 갯수를 구하기
- 87의 인덱스 구하기
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인데스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]

In [117]:
list1 = [58,45,69,19,4,87,29,13,39,15,54,[8,33,11],27,49,63,98,22,82]
print(list1[11][1])

33

In [118]:
list1.append(82)
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

In [119]:
list1.count(82)

2

In [120]:
list1.index(87)

5

In [121]:
list2 = list1[3:11]
list2_d = sorted(list2, reverse=True)
print(list2_d)

[87, 54, 39, 29, 19, 15, 13, 4]

In [122]:
list2 = list1[3:11]
list2.sort(reverse=True)
print(list2)

[87, 54, 39, 29, 19, 15, 13, 4]

In [123]:
a = list1.index(39)
list1[a] = 11
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82, 82]

In [124]:
print(list1[2::-1])

[69, 45, 58]

In [125]:
print(list1[::2])

[58, 69, 4, 29, 11, 54, 27, 63, 22, 82]

In [126]:
del list1[-1]
print(list1)

[58, 45, 69, 19, 4, 87, 29, 13, 11, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [127]:
a=list1[3]; b=list1[5]
print(a,b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

19 87
106
-68
1653
0.21839080459770116
19
0

In [129]:
# 튜플
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1,'a','abc','[1,2,3,4,5]',['a','b','c'])

print(tuple1[:])
print(tuple3[2])
print(tuple3[3][4])
print(tuple3[4][1])

(1, 2, 3, 4, 5)
abc
,
b

In [130]:
# 자료형 - Tuple
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용
Tuple1 = (1,2,3,4,5)
Tuple1[0] = 6
pritn(Tuple1)

TypeError: 'tuple' object does not support item assignment

In [131]:
a = [1,2,3,4,5]
del a[1]
print(a)

[1, 3, 4, 5]

In [132]:
a = (1,2,3,4,5)
del a[1]
print(a)

TypeError: 'tuple' object doesn't support item deletion

In [133]:
t1 = (1,) # 1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)
t2 = 1,2,3
print(t2)
print(t2 * 3)
t3 = t1 + t2
print(t3)
t4 = (1)
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [134]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])
d1['b'] = 5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [135]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [136]:
dict1 = {'a':1, 'b':2, 'c':3}
print(dict1['a'])     # 1이 출력됨
dict1['d'] = 4
print(dict1)        # {‘a’:1, ‘b’:2’, ‘c’:3, ‘d’:4}가 출력되나 순서가 틀릴 수 있음
dict1['b'] = 7
print(dict1)        # {‘a’:1, ‘b’:7’, ‘c’:3, ‘d’:4}가 출력되나 순서가 틀릴 수 있음
print(len(dict1))    # 4가 출력됨

1
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 7, 'c': 3, 'd': 4}
4

In [137]:
a = {'일반':1000,'프리미엄':2000,'vip':3000}
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['일반', '프리미엄', 'vip'])
dict_values([1000, 2000, 3000])
dict_items([('일반', 1000), ('프리미엄', 2000), ('vip', 3000)])

In [138]:
a['일반']

1000

In [139]:
a['일반']*2

2000

In [169]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'l', 'e', 'H', 'o'}

In [ ]:
# 집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

In [ ]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.
# 합집합(s1 | s2), 교집합(s1 & s2)
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(list(s1|s2))
print(list(s1&s2))

#### True와 False
- 파이썬에서 참과 거짓을 나타내는 상수. True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [157]:
# Bool
a = True
b = False
print(a == 1) # True가 출력
print(b != 0) # Fales가 출력

True
False

In [159]:
# 관계 연산자
x = 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x == y)  # False가 출력됨
print(x != y)   # True가 출력됨
print(str1 == str2)   # False가 출력됨
print(str2 == 'python')   # True가 출력됨
print(str1 < str2)        # True가 출력됨

False
True
False
True
True

In [160]:
#논리 연산자
#or 둘중 하나라도 참이면 참
#and 둘중 하나라도 거짓이면 거짓
bool1 = True; bool2 = False; bool3 = True; bool4 = False
print(bool1 and bool2)    # False가 출력됨
print(bool1 and bool3)    # True가 출력됨
print(bool2 or bool3)     # True가 출력됨
print(bool2 or bool4)     # False가 출력됨
print(not bool1)          # False가 출력됨
print(not bool2)          # True가 출력됨

False
True
True
False
False
True

# 찾기

In [161]:
a='let me int'
a.find('m')
# find = index

4

In [162]:
a[4]

'm'

In [163]:
len(a)

10

In [165]:
a = 1,2,3
a += 4,5
a

(1, 2, 3, 4, 5)

#### 파이썬에서 들여쓰기 
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [167]:
# 들여쓰기
li = ['a','b','c']
if 'a' in li :
    print('a가 li에 있습니다')
else:
    print('a가 li에 없습니다')

a가 li에 있습니다

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [173]:
# 문자열 포멧

name = '홍길동'
age = 20
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 20입니다.'

In [174]:
d = {'name':'홍길동', 'age':'20'}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 20입니다.'

In [175]:
name = '홍길동'
취미 = '운동'
d = {'취미2':'게임'}
f'나의 이름은 {name}입니다. 흥미있는 것은 {취미},{d["취미2"]}입니다.'

'나의 이름은 홍길동입니다. 흥미있는 것은 운동,게임입니다.'

In [176]:
d = {'취미2':'게임','name':'홍길동','취미':'노래'}
f'나의 이름은 {d["name"]}입니다. 흥미있는 것은 {d["취미"]},{d["취미2"]}입니다.'

'나의 이름은 홍길동입니다. 흥미있는 것은 노래,게임입니다.'

In [177]:
y = 3.141592
f'{y:0.4}' # 소수점 4자리까지만 표현

'3.142'

In [178]:
y = 3.141592
f'{y:10.4f}' # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.1416'

In [179]:
# 포멧합수
f1 = "{} 선수가 {}등입니다.".format('홍길동',1)
# f1 = '{1} 선수가 {0}등입니다.'.format(1,'홍길동')
print(f1)
print("%s 선수가 %d등입니다." %('홍길순',2))

홍길동 선수가 1등입니다.
홍길순 선수가 2등입니다.

In [181]:
f1="{}은 {}보다 {}배 쉽습니다".format("파이썬","자바",2)
print(f1)
print("%s은 %s보다 %d배 쉅습니다."%("파이썬","자바",2))

파이썬은 자바보다 2배 쉽습니다
파이썬은 자바보다 2배 쉅습니다.

In [182]:
num1 = 12345
print(num1)
print(f'{num1:10.0f}')
num2 = 12.3456789
print(num2)
print(f'{num2:16.3f}')

12345
     12345
12.3456789
          12.346

In [183]:
num = 123.456789
print(f'{num:10.3f}')

   123.457

#### 제어문
- 조건문(if문) : \~하면 \~해라
- 반복문(for, while) : 많은 일들을 반복해야 할 때

제어문, 조건문, 반복문 : https://velog.io/@osdsoonhyun/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%A0%9C%EC%96%B4%EB%AC%B8

In [186]:
# 제어문 - if~elif~else
# "수입과 지출금액을 비교해서 수입이 많은면 저축 증가, 반대이면 빚이 증가, 
# 같으면 현상 유지"
i = 5,000,000
e = 5,000,000

if i > e:
    print('저축 증가')
elif i < e:
    print('빛이 증가')
else:
    print('현상 유지')

현상 유지

In [187]:
#Q 돈이 있으면 택시를 타고, 돈이 없으면 걸어 간다.
pk = ('card', 'money')
if 'money' in pk:
    print('택시를 타고 간다.')
else:
    print('걸어간다.')

택시를 타고 간다.

In [188]:
# 조건부 표현식
score = 70
if score >= 60:
    message = 'success'
else:
    message = 'failure'

print(message)

success

In [189]:
score = 50
['success' if score >= 60 else "failure"]

['failure']

In [190]:
# 다른 언어의 3항 연산자 : (조건문이 참인 경우) if (조건문) else (조건문이 거짓인 경우)
Message = "success" if score >= 60 else "failure"
print(message)

success

for문의 범위로 사용되는 것은 시퀀스 자료형 또는 반복 가능한 자료이어야 한다.
- 문자열, 리스트나 튜플, 사전, range(), 그 외 반복 가능한 객체

In [192]:
numbers = [5,15,6,20,7,25]
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])
print(numbers[5])

5
15
6
20
7
25

In [193]:
# for 반복문
numbers = [5,15,6,20,7,25]
for number in numbers:
    print(number)

5
15
6
20
7
25

In [194]:
str = 'abcde'
for c in str:
    print(c, end=' ')

a b c d e

In [195]:
scope = [1,2,3,4,5]
for x in scope:
    print(x,end=' ')

1 2 3 4 5

In [196]:
d = {'a':97, 'b':98, 'c':99}
for key in d:
    print(d[key], end=' ')

97 98 99

In [197]:
for c in range(10):
    print(c, end=' ')

0 1 2 3 4 5 6 7 8 9

- for 반복문에서 continue를 만나면 그 다음 반복 실행으로 넘어가며
- break를 만나면 for 반복문을 완전히 벗어난다

In [198]:
num = [1,2,3,4,5]
print(num,end=' ')

[1, 2, 3, 4, 5]

In [199]:
# for ~ continue ~ break
# 1~10 범위의 정수에서 1부터 5까지만 출력하세요
for i in range(1,11):
    print(i,end=' ')
    if i < 5:
        continue
    else:
        break

1 2 3 4 5

numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)

In [200]:
nambers = [5,15,6,20,7,25]
for i in nambers:
    if i<10:
        pass
    else:
        print(i, end = " ")

15 20 25

In [201]:
numbers = [5,15,6,20,7,25]
i = 0
for number in numbers:
    i += 1
    if i%2 == 1:
        continue
    else:
        print(number, end=" ")

15 20 25

In [202]:
numbers = [5,15,6,20,7,25]
for i in numbers:
    if i != 5:
        if i%5 == 0:
            print(i,end=" ")
            continue
    else:
        continue

15 20 25

In [203]:
# for ~ else : for 구문이 모두 실행되었을 때 else 뒤의 실행 코드는 실행됨
scope = [1,2,3]
for x in scope:
    print(x)
    break
else:
    print('Perfect')

1

In [204]:
for i in range(1,11):
    if i<5:
        print(i, end = " ")
    else:
        break

1 2 3 4

In [205]:
for i in range(1,11):
    if i<5:
        pass
    else:
        print(i, end = " ")

5 6 7 8 9 10

while : 조건을 만족하면 무한 반복

In [206]:
# while ~ continue ~ break : for는 특정 범위에서 while은 특정 조건에서 코드를 반복 수행
# 1 ~ 20 사이의 정수에서 10보다 작은 홀수만 출력
a = 0
while a < 20:
    a += 1
    if a %2 == 0:
        continue # while로 올라간다
    if a >= 10:
        break # while을 벗어난다.
    print(a, end=' ')

1 3 5 7 9

In [207]:
# while
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요

x = 1
sum = 0
while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x +1

45
1035

In [208]:
x = 1
sum = 0
while 1:
    sum = sum + x
    if sum > 100:
        print(x)
        print(sum)
        break
    x = x + 1

14
105

while 문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요.

In [209]:
i = 1
sum = 0
while i < 1000:
    if i%3 ==0:
        sum = sum+i
    i += 1
print(sum)

166833

In [210]:
x = 0
sum = 0
while x < 1000:
    x += 1
    if x % 3 == 0:
        continue
    sum = sum + x
print(sum)

333667

In [211]:
sum,i=0,0
while i<1000:
    sum+=i
    i+=3
    
print(sum)

166833

1부터 100까지의 정수중 5에서 95까지의 합을 구하세요.

In [214]:
num=1
sum=0
while num<101:
    if 5<=num<=95:
        sum+=num
    num+=1
print(sum)

4550

In [215]:
sum,i=0,1

while i<101:
    if 5<=i<=95:
        sum+=i
    i+=1
print(sum)

4550

In [216]:
i = 0
sum = 0
while i < 101:
    i += 1
    if i > 4:
        if i < 96:
            sum = sum + i
print(sum)

4550

In [217]:
i = 0
sum = 0
while 1:
    if i>=5: 
        sum += i 
        if i > 94:
            print(sum)
            print(i)
            break
    i += 1

4550
95

5를 2로 나누었을때의 몫과 나머지를 구하세요.

In [218]:
a = 5//2
b = 5%2

print("5를 2로 나누었을 때의 몫은 %s, 나머지는 %s입니다."%(a,b))
print(f'5를 2로 나누었을 때의 몫은 {a}, 나머지는 {b}입니다')

5를 2로 나누었을 때의 몫은 2, 나머지는 1입니다.
5를 2로 나누었을 때의 몫은 2, 나머지는 1입니다

몫 과 나머지 모두 구하는 함수divmod

In [219]:
divmod(5,2)

(2, 1)

In [220]:
a = "10,20,30,40,50"
b = "10/20/30/40/50"
print(a.split("/"))
print(b.split("/"))

['10,20,30,40,50']
['10', '20', '30', '40', '50']

In [221]:
a = "10,20,30,40,50"
b = "10/20/30/40/50"
print(a.split(","))
print(b.split(","))

['10', '20', '30', '40', '50']
['10/20/30/40/50']

In [222]:
## 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는
# 다시 입력하라는 메시지를 출력하세요.

a = int(input())
b = int(input())

if (a % 2 == 0) & (b % 2 == 0):
    print(a * b)
elif (a % 2 == 1) & (b % 2 == 1):
    print (a + b)
else:
    print('다시 입력해 주세요')

4
3
다시 입력해 주세요

In [224]:
i = 1
cal = i*(100-i)
result = cal
while i <= 98:
    i += 1
    cal = i*(100-i)
    if cal > result:
        result = cal

print(result)

2500

In [225]:
first = 1
last = 99
max = 0
while first < 100:
    tmp = first * last
    if tmp > max:
        max = tmp
    first += 1
    last -= 1

print(max)

2500

In [226]:
n=1
m=99
list1=[]
i=0
while 1:
    if n<100 & m>=1:
        list1.append(1)
        list1[i]=n*m
        n+=1
        m-=1
    else:
        list1.sort()
        break
print(list1[-1])

2304

In [ ]:
import numpy as np
np.random.seed(0) # sample 고정
num = np.random.randint(20,size=20)
num

In [ ]:
x = lambda a,b:a**b
print(x(2,5))
print(x(5,2))

In [ ]:
import datetime
dt = datetime.datetime.now()
dt

In [ ]:
in_a = '''
                it is true
"i am z"
'''
print(in_a)
print(in_a.strip())

In [228]:
# 101의 3승을 구하세요
print(101**3)

1030301

In [231]:
# Python과 3,8,3을 합쳐서 Python 3.8.3으로 출력하세요
a = 'Python'
b = ' 3.8.3'
print(a+b)

Python 3.8.3

In [232]:
# a=5 a='10' a=15일때 a의 자료형은 무엇인가?
a=5;a='10';a=15
type(a)

int

In [234]:
# 5의 3승을 3으로 나누었을때의 나머지를 복합 대입 연산자를 이용해서 구하세요.
print((5**3)%3)

tmp=5**3
tmp%=3
print(tmp)

2
2

In [236]:
# 이름을 물어보고 답하는 내용을 출력하세요
name = input("성함을 입력해주세요: ")
f'{name}입니다.'

성함을 입력해주세요: 홍길동

'홍길동입니다.'

In [237]:
name = input('이름이 무엇인가요? ')
print('제 이름은 '+name+'입니다.')

이름이 무엇인가요? 홍길동
제 이름은 홍길동입니다.

In [238]:
# 숫자 3개를 입력해서 첫번째 숫자를 두번째 숫자 뒤에 세번째 숫자로 나누었을 때 몫을 구하세요.
x=int(input("숫자를 3개 입력하세요:"))
y=int(input())
z=int(input())
print(x**y//z)

숫자를 3개 입력하세요:5
3
2
62

In [239]:
# while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해보세요

i=0
sum=0
while i<1000:
    i=i+1
    if i%3==0 and i%5==0:
        sum=sum+i
        
print(sum)

33165

In [240]:
i=0
sum=0
while i<1001:
    if i%15==0:
        sum=sum+i
    i=i+1 
print(sum)

33165

In [241]:
i = 0
sum = 0
while i <=1000:
    if i%3 ==0:
        if i%5 ==0:
            sum = sum+i
    i += 1
print(sum)

33165

In [242]:
a=1
count=0
while a<1000:
    if a%3==0:
        if a%5==0:
            count+=a
    a+=1
print(count)

33165

In [244]:
# 1부터 5까지 입력해서 12345를 출력하세요
print("1부터 5까지 입력해 주세요.")
a = input()
b = input()
c = input()
d = input()
e = input()
print(a+b+c+d+e)

1부터 5까지 입력해 주세요.
1
2
3
4
5
12345

In [245]:
# [0,1,2,3,4,5,6,7,8,9,'a','b','c']에서 9와 'a'를 삭제 후 리스트로 출력하세요
x = [0,1,2,3,4,5,6,7,8,9,'a','b','c']
del x[9]
del x[9]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [246]:
list1 = [0,1,2,3,4,5,6,7,8,9,"a","b","c"]
one = list1.index(9)
two = list1.index("a")
del list1[one]
del list1[two]

print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'a', 'c']

In [247]:
list1=[0,1,2,3,4,5,6,7,8,9,'a','b','c']

del list1[9:10]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b', 'c']

In [248]:
lista=[0,1,2,3,4,5,6,7,8,9,'a','b','c']
lista.remove(9)
lista.remove('a')
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [249]:
#[0,1,2,3,4,5,6,7,8,'a','b','c']에서 'c'를 삭제 후 출력하세요.
x = [0,1,2,3,4,5,6,7,8,'a','b','c']
del x[-1]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'a', 'b']

리스트의 메소드인 sort()를 사용하여도 정렬이 된다. 이 경우에는 리스트 자체를 변경해 버린다. 일반적으로 이것보다는 내장함수인 sorted()가 더 편리하다.

In [250]:
#[4,8,5,4,8,4,3,9,1,9]를 내림차순으로 정렬하세요
a = [4,8,5,4,8,4,3,9,1,9]
a.sort()
a.reverse()
print(a)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [251]:
h=[4,8,5,4,8,4,3,9,1,9]
i=sorted(h, reverse=True)
print(i)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [252]:
# format 함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요
# 2021년 12월 29일 15시 47분 30초

year = 2021
month = 12
day = 29
d = {"가":15, "나":47, "다":30}
f'현재 시간은 {year}년 {month}월 {day}일 {d["가"]}시 {d["나"]}분 {d["다"]}초 입니다'

'현재 시간은 2021년 12월 29일 15시 47분 30초 입니다'

In [253]:
print("{}년 {}월 {}일 {}시 {}분 {}초".format(2021, 12, 29, 15, 47, 30))

2021년 12월 29일 15시 47분 30초

In [254]:
import datetime as dt

ct = dt.datetime.now()
print(f'{ct.year}년 {ct.month}월 {ct.day}일 {ct.hour}시 {ct.minute}분 {ct.second}초'.format())

2023년 9월 4일 18시 28분 57초

In [255]:
import datetime as dt

ct = dt.datetime.now()
print(f'{ct.year}년 {ct.month}월 {ct.day}일 {ct.hour}시 {ct.minute}분 {ct.second}초')

2023년 9월 4일 18시 29분 7초

In [256]:
import datetime as dt
x = dt.datetime.now()
print(x.strftime("%Y년 %m월 %d일 %H시 %M분 %S초"))

2023년 09월 04일 18시 29분 07초

In [257]:
import datetime
now=datetime.datetime.now()
y,mo,d,h,m,s=now.year,now.month,now.day,now.hour,now.minute,now.second

print(f"오늘 날짜는 {y}년 {mo}월 {d}일입니다. 현재 시각은 {h}시 {m}분 {s}초입니다.")

오늘 날짜는 2023년 9월 4일입니다. 현재 시각은 18시 29분 37초입니다.

In [259]:
import datetime
h=datetime.datetime.now()

if h.hour<12:
    print('오전')
else:
    print('오후')

오후

현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요

In [260]:
num=int(input('number'))
if 0<int(num)<12:
    print('오전')
else:
    print('오후')

number1
오전

In [261]:
import datetime
now=datetime.datetime.now()
y,mo,d,h,m,s=now.year,now.month,now.day,now.hour,now.minute,now.second

if h >= 12:
    print("현재 시각은 오후 %d시 %d분 입니다." %(h-12,m))
else:
    print("현재 시각은 오후 %d시 %d분 입니다." %(h,m))

현재 시각은 오후 6시 30분 입니다.

In [262]:
import datetime as dt
x = dt.datetime.now()

if x.hour>12:
    time = x.hour - 12
    print(f"현재는 오후 {time}시입니다.")
else:
    print(f"현재는 오전 {x.hour}시입니다.")

현재는 오후 6시입니다.

In [263]:
import datetime as dt

ct = dt.datetime.now()
if ct.hour >= 12:
    print("오후입니다.")
else:
    print("오전입니다.")

오후입니다.

In [264]:
from datetime import datetime

now = datetime.now()
if now.hour < 12:
    print("현재 오전입니다")
else:
    print("현재 오후입니다.")

현재 오후입니다.

In [265]:
time = int(input("현재시각: "))
if time < 1200:
    print("오전")
elif time > 1159:
    print("오후")

현재시각: 1100
오전

In [266]:
import datetime

now=datetime.datetime.now()


# t = input('현재 시간을 입력하세요')

if now.hour < 12:
    print(f'현재시간은 {now.hour}시로 오전입니다')
else:
    print(f'현재 시간은 {now.hour}시로 오후입니다')

현재 시간은 18시로 오후입니다

In [267]:
# 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성
num=input('number')
if int(num)%2==0:
    print(f'입력한 숫자 {num}은 짝수입니다')
else:
    print(f'입력한 숫자 {num}은 홀수입니다')

number5
입력한 숫자 5은 홀수입니다

In [268]:
a=int(input())
if a%2==0:
    print('짝수')
else :
    print('홀수')

5
홀수

In [269]:
#[과제] 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
x = int(input("태어난 연도"))
y = ['쥐','소','범','토끼','용','뱀','말','양','원숭이','닭','개','돼지']
print(y[x%12] + '띠입니다.')

태어난 연도1994
범띠입니다.

In [270]:
x = int(input("당신이 태어난 연도 : "))
y = ['원숭이', '닭', '개', '돼지', '쥐', '소', '범', '토끼', '용', '뱀', '말', '양띠']
print(y[x%12] + '띠입니다.')

당신이 태어난 연도 : 1994
개띠입니다.

[과제]계절 구분 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [272]:
from datetime import datetime
s=datetime.now()

if 1<=s.month <=3: 
    print('이번달은 {}이므로 봄입니다'.format(s.month))
elif 4<= s.month <=6: 
    print('이번달은 {}이므로 여름입니다'.format(s.month))
elif 8<= s.month <=10: 
    print('이번달은 {}이므로 가을입니다'.format(s.month))
else: 
    print('이번달은 {}월이므로 겨울입니다'.format(s.month))

이번달은 9이므로 가을입니다

In [273]:
import datetime
t = datetime.datetime.now()

print('지금 우리가 지내는 계절은 어디쯤에 있나요?')
if t.month<12 and t.month>=9:
    print('단풍이 지천을 물들이는 계절, 가을입니다.')
elif t.month<9 and t.month>=6:
    print('작열하는 태양과 신록이 공존하는 계절, 여름입니다.')
elif t.month<6 and t.month>=3:
    print('벚꽃의 꽃말은 기말고사, 봄입니다.')
else: print('살고 싶으면 장롱에 있던 히트텍 꺼내라 ㅋㅋ')

지금 우리가 지내는 계절은 어디쯤에 있나요?
단풍이 지천을 물들이는 계절, 가을입니다.

[과제]커피 자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [274]:
coffee = 5
price = 300

while 1:
    money = int(input("맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!"))
    if money == 300:
        print('커피를 맛있게 드세요')
        coffee -= 1
    elif money > 300:
        c = money - 300
        print(f'따뜻한 커피 드시고 잔돈 {c}원을 챙기세요' )
        coffee -= 1
    else:
        print(f'커피는 {price}원입니다. 현금을 다시 넣어 주세요.')
    if coffee == 0:
        print('커피가 다 떨어졌어요~ 잠시 판매 중단합니다.')
        break

맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!300
커피를 맛있게 드세요
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!1000
따뜻한 커피 드시고 잔돈 700원을 챙기세요
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!200
커피는 300원입니다. 현금을 다시 넣어 주세요.
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!300
커피를 맛있게 드세요
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!300
커피를 맛있게 드세요
맛있는 커피를 300원에 드립니다. 현금을 넣어주세요!!300
커피를 맛있게 드세요
커피가 다 떨어졌어요~ 잠시 판매 중단합니다.

In [275]:
coffee = 5
while 1:
    money = int(input('자판기를 이용하시려면 돈을 넣어주세요: '))
    change = money - 300
    if money == 300:
        print('따뜻한 커피 나왔습니다')
        coffee = coffee - 1
    elif money > 300 and money <= 600:
        print('따뜻한 커피 나왔습니다. 거스름돈은 %d원입니다.' % change)
        coffee = coffee - 1
    elif money > 600:
        coffee_num = int(input('몇 잔의 커피를 뽑으시겠습니까?'))
        change_2 = money - (coffee_num * 300)
        if coffee < coffee_num:
            print(f'죄송합니다. 재고가 모자랍니다. 현재 재고는 {coffee}개 입니다. 잔돈을 반환합니다.')
        elif money % 300 == 0:
            print(f'커피 {coffee_num}잔 나왔습니다.')
            coffee = coffee - coffee_num
        elif money < coffee_num * 300:
            print('금액이 모자랍니다.')
        else:
            print(f'커피 {coffee_num}잔 나왔습니다. 거스름돈은 {change_2}원 입니다.')
            coffee = coffee - coffee_num
    else:
        print('금액이 모자랍니다. 300원 이상 넣어주세요!')
        
    if coffee == 0:
        print('금일 준비한 커피가 모두 소진되어 판매를 일시 중단합니다.')
        break

자판기를 이용하시려면 돈을 넣어주세요: 1500
몇 잔의 커피를 뽑으시겠습니까?3
커피 3잔 나왔습니다.
자판기를 이용하시려면 돈을 넣어주세요: 300
따뜻한 커피 나왔습니다
자판기를 이용하시려면 돈을 넣어주세요: 300
따뜻한 커피 나왔습니다
금일 준비한 커피가 모두 소진되어 판매를 일시 중단합니다.

In [276]:
stock = 5
fee = 300

while 1:
    if(stock==0):
        print("재고가 다 소진되었습니다.")
        break
    
    money = int(input("금액을 투입해주세요: "))
    
    if(money>=300):
        if(money>=600):
            sold = int(input("몇 잔 구매하시나요? > "))
            charge = money-(sold*fee)
        else:
            sold = money//fee
            charge = money%fee
        
        if(stock<sold):
            print("재고가 부족합니다. 부족한 만큼의 금액을 반환합니다.")
            sold=stock
            charge=money-(sold*fee)
            
        print("커피 %d잔 구매" %sold)
    
        if(charge!=0):
            print("거스름돈 %d원 반환" %charge)
        stock-=sold
        
    else:
        print("잔액이 부족합니다.")
        charge=money
        print("거스름돈 %d원 반납" %charge)
    
    print()

금액을 투입해주세요: 300
커피 1잔 구매

금액을 투입해주세요: 1000
몇 잔 구매하시나요? > 2
커피 2잔 구매
거스름돈 400원 반환

금액을 투입해주세요: 300
커피 1잔 구매

금액을 투입해주세요: 600
몇 잔 구매하시나요? > 2
재고가 부족합니다. 부족한 만큼의 금액을 반환합니다.
커피 1잔 구매
거스름돈 300원 반환

재고가 다 소진되었습니다.

[과제] 사용자가 입력한 게임 회수만큼 로또 번호를 출력하는 프로그램을 작성하세요.(중복불허)

In [277]:
import random

num = input("게임 수 : ")

for i in range(0, int(num)):
    lotto = random.sample(range(1, 46), 6)
    lotto.sort()
    print(lotto)

게임 수 : 5
[5, 7, 10, 19, 29, 42]
[2, 12, 13, 17, 25, 39]
[1, 11, 14, 23, 35, 42]
[1, 6, 33, 34, 39, 44]
[1, 8, 20, 29, 32, 35]

In [278]:
import random, string
cn = 'y'
print('☆★로또번호 생성기★☆')
while(cn == 'y'):
    game = input('게임 횟수를 입력하세요(숫자만 입력): ')
    if(game.isdigit() == True):
        for i in range(0, int(game)):
            lotto = random.sample(range(1,46),6)
            #lotto.sort() #예쁘게 보고 싶으면 하면 됩니다
            print(lotto)
            cn = 'n'
    else:
        print("숫자를 입력하세요")
        continue

☆★로또번호 생성기★☆
게임 횟수를 입력하세요(숫자만 입력): 5
[3, 34, 36, 10, 19, 13]
[35, 40, 4, 6, 25, 26]
[12, 14, 5, 16, 31, 30]
[30, 19, 17, 45, 18, 38]
[14, 19, 1, 23, 12, 42]

In [279]:
gnum = int(input('로또 회수를 입력하세요> '))
for i in range(gnum):
  li = []
  for j in range(6):
    lt = random.randint(1,46)
    while lt in li:  # 중복 회피
      lt = random.randint(1,46)
    li.append(lt)
  print(li)

로또 회수를 입력하세요> 5
[5, 6, 39, 15, 43, 41]
[16, 5, 35, 2, 36, 46]
[30, 21, 23, 34, 8, 46]
[20, 4, 9, 2, 36, 38]
[26, 17, 30, 41, 36, 20]

[과제] 우리반의 발표자를 무작위로 선정하는 프로그램을 작성하세요

hmkd1 = ['김나영','김동완','김예슬','김용훈','김태현','남동연','박서진','박주경', '손아','옥유리', '옥주리','윤예은','윤정현','이승주','임수현','장인혁', '정슬기','한나영','조차선','이지연','김성호','오윤택','최정인']

In [280]:
import random

name = ['김나영','김동완','김예슬','김용훈','김태현','남동연','박서진','박주경', '손아','옥유리', '옥주리',
         '윤예은','윤정현','이승주','임수현','장인혁', '정슬기','한나영','조차선','이지연','김성호','오윤택','최정인']
li = []
num = int(input('입력> '))
p = random.sample(range(len(name)),num)

for i in p:
    li.append(name[i])

print(li)

입력> 3
['이승주', '박서진', '최정인']

남녀 파트너 정해주기 프로그램을 작성하세요(5개 커플)

In [281]:
import random
male=['남자1호','남자2호','남자3호','남자4호','남자5호']
female=['여자1호','여자2호','여자3호','여자4호','여자5호']
couple=[]
for i in range(5):
    random.shuffle(male)
    random.shuffle(female)
    c=[male[0],female[0]]
    couple.append(c)
    del male[0]
    del female[0]
print((couple))

[['남자3호', '여자1호'], ['남자5호', '여자2호'], ['남자2호', '여자5호'], ['남자1호', '여자4호'], ['남자4호', '여자3호']]

### 날짜처리

포맷 코드 표
포맷코드	설명	예
%a	요일 줄임말	Sun, Mon, ... Sat
%A	요일	Sunday, Monday, ..., Saturday
%w	요일을 숫자로 표시, 월요일일요일, 06	0, 1, ..., 6
%d	일	01, 02, ..., 31
%b	월 줄임말	Jan, Feb, ..., Dec
%B	월	January, February, …, December
%m	숫자 월	01, 02, ..., 12
%y	두 자릿수 연도	01, 02, ..., 99
%Y	네 자릿수 연도	0001, 0002, ..., 2017, 2018, 9999
%H	시간(24시간)	00, 01, ..., 23
%I	시간(12시간)	01, 02, ..., 12
%p	AM, PM	AM, PM
%M	분	00, 01, ..., 59
%S	초	00, 01, ..., 59
%Z	시간대	대한민국 표준시
%j	1월 1일부터 경과한 일수	001, 002, ..., 366
%U	1년중 주차, 월요일이 한 주의 시작으로	00, 01, ..., 53
%W	1년중 주차, 월요일이 한 주의 시작으로	00, 01, ..., 53
%c	날짜, 요일, 시간을 출력, 현재 시간대 기준	Sat May 19 11:14:27 2018
%x	날짜를 출력, 현재 시간대 기준	05/19/18
%X	시간을 출력, 현재 시간대 기준	'11:44:22'

In [282]:
import time
t = time.localtime(1609160537.371015)
time.asctime(t)

'Mon Dec 28 22:02:17 2020'

In [283]:
import time
t = time.localtime()
print(t)

time.struct_time(tm_year=2023, tm_mon=9, tm_mday=4, tm_hour=18, tm_min=42, tm_sec=30, tm_wday=0, tm_yday=247, tm_isdst=0)

In [284]:
time.asctime(t)

'Mon Sep  4 18:42:30 2023'

In [285]:
import time
from datetime import datetime
t = time.time()
d = datetime.fromtimestamp(t)
s = d.strftime('%Y-%m-%y %X')
s

'2023-09-23 18:42:33'

In [286]:
s = d.strftime('%Y-%m-%y %H:%M:%S')
s

'2023-09-23 18:42:33'

In [287]:
s = d.strftime('%x %X')
s

'09/04/23 18:42:33'

In [288]:
import time
t = time.localtime()
start_day = '%d-01-01' %t.tm_year
start_day
elabsed_day = t.tm_yday
elabsed_day
print(f'오늘은 {start_day} 이후 {elabsed_day}일째 되는 날 입니다.')

오늘은 2023-01-01 이후 247일째 되는 날 입니다.

import time

weekdays = ['월', '화', '수', '목', '금', '토', '일']
t = time.localtime()
today = '%d-%d-%d' %(t.tm_year,t.tm_mon,t.tm_mday)
week = weekdays[t.tm_wday]
print(f'{today} 오늘은 {week}요일 입니다.')

현재 요일을 "2021-6-26 오늘은 토요일입니다. 와 같은 형식으로 출력하세요

In [289]:
import time
t = time.time()
d = datetime.fromtimestamp(t)
td = d.strftime('%Y-%m-%y')
tt = d.strftime('%A')

print(f' {td} 오늘은 {tt} 입니다.')

 2023-09-23 오늘은 Monday 입니다.

[과제] 음식점의 음식 주문가격 산출 프로그램을 자유롭게 작성하세요

In [292]:
menu = {'치킨마요':3500, '참치마요':3000, '포테이토마요':3300, '토핑':500}

print(f'''
오늘도 큰솥 도시락을 찾아주셔서 감사합니다.

    치킨마요 \ {menu['치킨마요']}
    참치마요 \ {menu['참치마요']}
포테이토마요 \ {menu['포테이토마요']}

※ 토핑 추가 \ {menu['토핑']}
''')
while 1:
    food = input('어떤 메뉴를 고르시겠어요? ')

    if food in menu:
        print(f'{food}의 가격은 {menu[food]}원입니다.')
        top = input('토핑을 추가하시겠어요? [네/아니오] ')
        if top=='네':
            print('주문하신 메뉴의 총 가격은 %d원입니다.\n맛있게 드세요.' %(int(menu[food])+int(menu['토핑'])))
            break
        elif top=='아니오':
            print(f'주문하신 메뉴의 총 가격은 {menu[food]}원입니다.\n맛있게 드세요.')
            break
        else: print('주문 오류입니다. 다시 주문해 주세요.')
    
    else: print('주문하신 메뉴는 없는 메뉴입니다.')

오늘도 큰솥 도시락을 찾아주셔서 감사합니다.

    치킨마요 \ 3500
    참치마요 \ 3000
포테이토마요 \ 3300

※ 토핑 추가 \ 500

어떤 메뉴를 고르시겠어요? 치킨마요
치킨마요의 가격은 3500원입니다.
토핑을 추가하시겠어요? [네/아니오] 아니오
주문하신 메뉴의 총 가격은 3500원입니다.
맛있게 드세요.

[도전과제] Player가 3승할 때까지 계속 진행되는 가위바위보 게임 프로그램을 작성하세요.
게임은 Player와 컴퓨터가 진행

In [293]:
import numpy as np

cnt = 0
rsp = ['가위', '바위', '보']

print("가위 바위 보 게임입니다. 3승할 때까지 계속 진행됩니다!")
print("그 전에 게임을 종료하고 싶다면 E를 입력해주세요.")

while cnt < 3:
    print()
    pl = input("무엇을 낼까요? (가위/바위/보) > ")
    if(pl=='E'): break
    elif(pl not in rsp):
        print("[가위] [바위] [보] 중 하나를 내주세요!")
        continue
    pc = rsp[np.random.randint(3)]
    print(f'컴퓨터 > {pc}')
    
    if(pl=='가위'):
        if(pc=='바위'):
            print("졌습니다. 다시 한 번 게임을 시작합니다!")
            continue
        elif(pc=='보'):
            print("게임에서 이겼습니다. 축하합니다!")
            cnt+=1
            continue
            
    elif(pl=='바위'):
        if(pc=='보'):
            print("졌습니다. 다시 한 번 게임을 시작합니다!")
            continue
        elif(pc=='가위'):
            print("게임에서 이겼습니다. 축하합니다!")
            cnt+=1
            continue
            
    elif(pl=='보'):
        if(pc=='가위'):
            print("졌습니다. 다시 한 번 게임을 시작합니다!")
            continue
        elif(pc=='바위'):
            print("게임에서 이겼습니다. 축하합니다!")
            cnt+=1
            continue
            
    print("비겼습니다. 다시 한 번 게임을 시작합니다!")
    
print("게임을 종료합니다. 수고하셨습니다.")

가위 바위 보 게임입니다. 3승할 때까지 계속 진행됩니다!
그 전에 게임을 종료하고 싶다면 E를 입력해주세요.

무엇을 낼까요? (가위/바위/보) > 보
컴퓨터 > 바위
게임에서 이겼습니다. 축하합니다!

무엇을 낼까요? (가위/바위/보) > 보
컴퓨터 > 보
비겼습니다. 다시 한 번 게임을 시작합니다!

무엇을 낼까요? (가위/바위/보) > 보
컴퓨터 > 바위
게임에서 이겼습니다. 축하합니다!

무엇을 낼까요? (가위/바위/보) > 보
컴퓨터 > 바위
게임에서 이겼습니다. 축하합니다!
게임을 종료합니다. 수고하셨습니다.

[도전과제] 컴퓨터가 랜덤하게 생성하는 숫자 맞추기 게임 프로그램을 작성하세요

In [298]:
import numpy as np
while(1):
    s_e=input("게임을 하시겠습니까?[y/n]: ")

    if(s_e=="y"):
        anser= np.random.randint(0,10)
        while(a != anser):
            a=int(input("숫자를 입력하세요(0~10): "))
            if(a>anser):
                print("down")
            elif(a<anser):
                print("up")
            else:
                print("범위 안의 숫자를 입력해주세요.")
        print("정답입니다.")
    else:
        print("게임을 종료합니다.")
        break

게임을 하시겠습니까?[y/n]: y
숫자를 입력하세요(0~10): 5
up
숫자를 입력하세요(0~10): 7
up
숫자를 입력하세요(0~10): 8
up
숫자를 입력하세요(0~10): 9
범위 안의 숫자를 입력해주세요.
정답입니다.
게임을 하시겠습니까?[y/n]: n
게임을 종료합니다.

# 함수

#### 함수
- 특정 목적을 가진 독립된 코드 집합
  - 두 수를 입력받아 더한 값을 계산하는 코드
  - 더한 값을 계산하는 코드가 프로그램 여러 곳에서 사용된다고 할 때 이 부분만을 따로 구성하여 재사용하면 효율화할 수 있음
- 사용자 함수는 def로 시작하여 정의

내장함수, 외장함수

https://codedrive.tistory.com/91

In [ ]:
#입력값이 없고 결과값만 있는 함수
def say():
    return 'HI!'

a = say()
print(a)

In [ ]:
#입력값은 있고 결과값이 없는 함수
def add(a,b):
    print(f'{a}, {b}의 합은 {a+b}입니다.')

add(3,4)
#a = add(3,4)
#print(a)

In [ ]:
# 입력값도 결과값도 없는 함수
def say():
    print('Hi')
say()

In [ ]:
# 입력값, 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c
        
max(10,20,30)

In [ ]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 *를 붙이면 입력값들을 전부 모아서 튜플로 만들어 줌

def add_many(*args):
    add=0
    for i in args:
        add += i
    return add
add_many(1,2,3,4,5,6,7,8,9,10)

In [ ]:
# 함수의 반환 값은 언제나 하나 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

In [ ]:
# 함수 안에서 선언된 변수의 효력 범위
a = 1
def vartest(a):
    a = a + 1
    
print(vartest(a))
print(a)

In [ ]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용
a = 1
def vartest(a):
    a = a + 1
    return a
a = vartest(a)
print(a)

In [ ]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()
print(a)

In [ ]:
# 주피더 매직명령어
# %pwd 현재 작업 폴더

In [ ]:
# add_mul() 함수를 정의하여 1,2,3,4,5를 입력 값으로 적용하여 덧셈, 곱셈 연산을 수행하세요.

In [ ]:
def add_mul(choice, *args):
    if choice == '+':
        result = 0
        for i in args:
            result += i
        return result        
    elif choice == '*':
        result = 1
        for i in args:
            result *= i
        return result
    else:
        print('수행할 수 없는 연산입니다.')

add_mul('+', 1,2,3,4,5)
add_mul('*', 1,2,3,4,5)

In [ ]:
def add_and_mul(a,b,c,d,e):
    return a+b+c+d+e, a*b*c*d*e

result = add_and_mul(1,2,3,4,5)
print(result)

In [ ]:
def add_mul(a,b,c,d,e):
    return a+b+c+d+e, a*b*c*d*e

result = add_mul(1,2,3,4,5)
print(result)

In [ ]:
# 파일 읽고 쓰기
f = open('test1.txt', 'w')
f.close()

In [ ]:
f = open('test1.txt', 'w')
for i in range(1,11):
    data = '%d번째 줄입니다. \n' %i
    f.write(data)
f.close()

In [ ]:
f = open('test1.txt', 'r')
line = f.readline()
print(line)
f.close()

In [ ]:
f = open('test1.txt', 'r')
for i in range(10):
    line = f.readline()
    print(line)
f.close()

In [ ]:
f = open('test1.txt', 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

In [ ]:
# f.read()는 파일 내용 전체를 문자열로 반환
f = open('test1.txt', 'r')
data = f.read()
print(data)
f.close()

In [ ]:
f = open('test1.txt', 'a')
for i in range(11,16):
    data = '%d번째 줄입니다. \n' %i
    f.write(data)
f.close()

In [ ]:
f = open('test1.txt', 'r')
data = f.read()
print(data)
f.close()

In [ ]:
# with문과 같이 사용
with open('foo.txt', 'w') as f:
    f.write('파이썬을 배웁시다.')

In [ ]:
with open('foo.txt', 'r') as f:
    data = f.read()
    print(data)

In [ ]:
with open('test2.txt', 'w') as f:
    for i in range(1,11):
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [ ]:
with open('test2.txt', 'a') as f:
    for i in range(11,16):
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [ ]:
with open('test2.txt', 'r') as f:
    data = f.read()
    print(data)

## 내장함수

In [ ]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
print(myList[0](3,4))
print(myList[1](3,4))

In [ ]:
print(divmod(7,3))

In [ ]:
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한, enumerate 객체를 리턴
for i, name in enumerate(['james','tom','susan']):
    print(i, name)

In [ ]:
# 실행 가능한 문자열 입력으로 받아 문자열을 실행한 결과값을 리턴
print(eval('1+2'))

In [ ]:
# 외장함수 : 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리, 파이썬을 설치할 때 자동으로 설치
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈

import pickle
f = open('test.txt', 'wb')
data = {1:'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [ ]:
import pickle
f = open('test.txt', 'rb')
data = pickle.load(f)
print(data)
f.close()

In [ ]:
import os
os.environ['PATH']

In [ ]:
# 현재폴더주소
%pwd

In [ ]:
# 폴더변경
os.chdir('주소')

In [ ]:
os.getwd('주소')

In [ ]:
!dir

In [ ]:
#폴더이름바꾸기
import os
os.rename('이름','이름2')

In [ ]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 묻 파일과 디렉토리의 리스트를 반환
import glob
glob.glob("주소")

In [ ]:
#[과제] 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(3가지 방법)
# remove. pop, del
list1 = [0,1,2,3,4,5,6]
#del list1[2]


list=[0,1,2,3,4,5,6]
1#del list[2]
2#list.remove(2)
3#list.pop(2)
print(list)

In [ ]:
#[과제] 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.
list = [0,1,2,3,4,5,6]
del list[:]
print(list)

In [ ]:
#[과제] 람다함수와 적한한 내장함수를 사용하여 아래와 같이 출력하세요.
[1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [1,2]

In [ ]:
#x=lambda a:a**2
#lst = [x(i) for i in range(1,6)]
#print(lst)

#lst2 = [1,2,3,4,5]
#filtered_list = fiilter(lambda a: (a<3), lst2)
#print(list(filtered_list))

In [ ]:
list=[1,2,3,4,5]
list_e=[]
x=lambda a:a**2
for i in range(0,5):
    list_e.append(n)
    list_e[i]=x(list[i])
print(list_e)

del list[2:5]
print(list)

In [ ]:
x = lambda a:a*a 
inp = [1, 2, 3, 4, 5]

for i, li in enumerate(inp):
    inp[i] = x(li)
print(inp)

inp = [1, 2, 3, 4, 5]
for i in range(3):
    inp.pop()
print(inp)

In [ ]:
list=[1,2,3,4,5]
list_n=[]
x=lambda a:a**2  

for i in list:          # [1,2,3,4,5] -> [1,4,9,16,25]
    list_n.append(x(i))
    
del(list[2:])           # [1,2,3,4,5] -> [1,2]

print(list_n,list)         #함수호출

In [ ]:
nums1 = [1, 2, 3, 4, 5]
result1 = list(map(lambda n: n**2, nums1))   print(result1)


nums2 = [1, 2, 3, 4, 5]
result2 = list(filter(lambda n: n < 3, nums2)) print(result2)

In [ ]:
numlist=[1,2,3,4,5]
result=map(lambda x: x*x,numlist)
print(list(result))

#2문:
def even(arr):
    result=[]
    for i in arr:
        if i<3:
            result.append(i)
    return result
print(even([1,2,3,4,5]))

In [ ]:
list1=[1,2,3,4,5]   
list2=lambda a:a**2

for b in range(1,6):
    print(list2(b))

#

In [ ]:
#[과제] [1,-3,2,0,-5,6]에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)
list1 = [1,-3,2,0,-5,6]
def positive(a):
    result = []
    for i in a:
        if i > 0:
            result.append(i)
    return result

print(positive(list1))

In [ ]:
list=[1,-3,2,0,-5,6]
list_n=[]

for i in list:
    if abs(i)==i and i!=0:    #절대값과 본래값이 같은 것만(단, 0 제외)
        list_n.append(i)
print(list_n)

In [ ]:
list1 = [1,-3,2,0,-5,6]
        
print(list(filter(lambda x: x > 0, list1)))

In [ ]:
def even(arr):
    result=[]
    for i in arr:
        if i>0:
            result.append(i)
    return result
print(even([1,-3,2,0,-5,6]))

In [ ]:
list=[1,-3,2,0,-5,6]
list2=[]   
for a in range(0,6):
    if list[a]>0:
        list2.append(list[a]) 
print(list2)

#

In [ ]:
#[과제] 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,4)]
[1,2,3],[4,5,6],[7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]

ab=list(zip([1,2,3],[4,5,6]))
print(ab)

abc = list(zip[1,2,3],[4,5,6],[7,8,9])
print(abc)

alp_1 = list(zip('abc','def'))
print(alp_1)

In [ ]:

list1 = [1,2,3]+[4,5,6]
form1 = [[],[],[]]

i = 0
while i < len(list1):
    a = list1[i] % 3
    if a == 1:
        form1[0].append(list1[i])
        i += 1
    elif a == 2:
        form1[1].append(list1[i])
        i += 1
    else:
        form1[2].append(list1[i])
        i += 1
        
form1[0] = tuple(form1[0])
form1[1] = tuple(form1[1])
form1[2] = tuple(form1[2])

print(form1)


list2 = [1,2,3]+[4,5,6]+[7,8,9]
form2 = [[],[],[]]

i = 0
while i < len(list2):
    a = list2[i] % 3
    if a == 1:
        form2[0].append(list2[i])
        i += 1
    elif a == 2:
        form2[1].append(list2[i])
        i += 1
    else:
        form2[2].append(list2[i])
        i += 1
        
form2[0] = tuple(form2[0])
form2[1] = tuple(form2[1])
form2[2] = tuple(form2[2])

print(form2)

In [ ]:
#1문[1,2,3],[4,5,6]->[(1,4,),(2,5),(3,6)]
a=[1,2,3]
b=[4,5,6]
print(list(zip(a,b)))

#2문: [1,2,3],[4,5,6][7,8,9]->[(1,4,7),(2,5,8),(3,6,9)]
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]
print(list(zip(a,b,c)))

#3문: ('abc','def') -> [('a','d'),('b','e'),('c','f')]
a=['a','b','c']
b=['d','e','f']

print(list(zip(a,b)))

In [ ]:
while 1:
    try:
        num = int(input("리스트에 몇개의 값을 넣을 것인가요?: "))
    except ValueError:
        print("숫자가 아닙니다.")
    else:
        break

i = 0
list1 = []
list2 = []
while i < num:
    plus1 = input(f"{i+1} 번째로 넣고 싶은 문자를 입력해주세요(1번째 집합): ")
    plus2 = input(f"{i+1} 번째로 넣고 싶은 문자를 입력해주세요(2번째 집합): ")
    list1.append(plus1)
    list2.append(plus2)
    i += 1
i = 0
lastlist = []
while i < num:
    lastlist.append((list1[i],list2[i]))
    i += 1

print(lastlist)

In [ ]:
lista=[[1,2,3],[4,5,6],[7,8,9]]
listb=sum(lista,[])
lista_n=[]

for k in range(len(lista[0])):
    tup1=tuple(listb[k::3])
    lista_n.append(tup1)

print(lista_n)

#

In [ ]:
#[과제] 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

In [ ]:
def avg(*args):
    cnt = 0
    sum = 0
    for i in args:
        cnt += 1
        sum += i
    return (sum / cnt)

print(avg(1, 2, 3))

In [ ]:
print("수를 입력해 주세요. done을 입력하면 평균값을 계산합니다.")
user = input()
num = 0
sum = 0
while user != "done":
    sum = sum +int(user)
    num += 1
    user = input()
    
print(sum/num)

In [ ]:
def sum(mun):
    print(f"합: {eval(mun)}")    #입력된 문자열이 연산이 가능한 형태면 연산해 줌
    print(f"평균: {(eval(mun)/len(mun.split('+'))):0.2f}")

###################################################

mun=input("평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): ")
mun_n=mun.replace(',','+')    #1,2,3 -> 1+2+3

sum(mun_n)

In [ ]:
box = []

while 1:
    A = input("원하는 숫자를 입력해주세요. 멈추고 싶으면 N을 입력해주세요.: ")
    if A != "N":
        try:
            float(A)
        except ValueError:
            print("숫자만 입력해주세요.")
            continue
        A = float(A)
        box.append(A)
        continue
    elif A == "N":
        break
Sum = 0
for i in box:
    Sum += i

print(Sum/len(box))

In [ ]:
def average(*args):
    x=0
    for i in args:
        x=(x+i)
    result=x/len(args) 
    return result

result=average(1,2,3)    
print(result)

In [ ]:
x=int(input("1,2,3을 순차적으로 입력하세요: "))
y=int(input())
z=int(input())
h=(x+y+z)//3
print(f'입력하신 수의 평균은 {h}입니다.')

#

# sort,sorted 모두 ,key, reverse 매개변수를 갖고 있다.

- reverse : 기본값은 reverse=False(오름차순),reverse=True를 매개변수로 입력하면 내림차순으로 정렬
- key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key 값을 기준으로 정렬되고 기본값은 오름차순

In [ ]:
#[과제] strings를 다양한 문자가 포함된 순서로 정렬하세요. (힌트 set)
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

In [ ]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key = lambda x:len(set(x)))
strings[::-1]

In [ ]:
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
lc=[]
mydic={}

for i in strings:
    ct=0
    for k in range(97,123):     #아스키코드(알파벳 a~z = 97~122)
        if chr(k) in i:      #chr: 숫자->알파벳 변환
            ct+=1
    lc.append(ct)    #lc=[1,2,3,1,2] 쓰인 알파벳 개수 저장
    
for i in range(len(strings)):
    mydic[strings[i]]=lc[i]    #딕셔너리에 {문자:알파벳 개수} 저장

for i in range(26,-1,-1):     #알파벳=26개=최대 쓰일 수 있는 문자 수
    if i in lc:     #lc 안에 해당 개수가 있을 때만(그냥 26번 전부 돌지 말라고 추가)
        for key, value in mydic.items():   #.items() -> 딕셔너리 키, 값 사용
            if value==i:    #개수에 해당하는 key값(strings리스트 저장해 둔) 출력
                print(key, end=' ')

In [ ]:
strings.insert(0,'bar')
strings.insert(1,'ababa')
strings.insert(2,'ca')
strings.insert(3,'aaaa')
strings.insert(4,'a')

print(strings)
del strings[-1]
del strings[-2]
del strings[-3]
del strings[-4]
del strings[-5]
print(strings)

In [ ]:
#[과제] 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')

In [ ]:
strings = ("a","ca","bar","aaaa","ababa")
list1 = []
i = 0

while i < len(strings):
    a = strings[i]
    aset = set(a)
    along = len(aset)
    list1.append(along)
    i += 1
    
long = len(list1)
list2 = []
while len(list2) != long:
    m = max(list1)
    n = list1.index(m)
    list2.append(strings[n])
    list1[n] = 0
    
print(tuple(list2))

In [ ]:
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
s_list=list(strings)
s_list.sort(key=lambda x:len(set(x)))     #기본 정렬(오름차순)

print(s_list[::-1])     #거꾸로 출력(내림차순으로 나오게)

In [ ]:
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
stringl=list(strings)
stringl.sort(key=lambda x:len(set(x))) #정렬
print(stringl[::-1]) #내림차순
strings=tuple(stringl)
print(strings[::-1])

In [ ]:
#[과제] url에서 호스트 도메인을 추출하여 출력하세요.
url= 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

x = url.split('/')
print()
domain = x[2]
print(domain)

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

do=url.find('.com')
print(url[7:do+4])   #프로토콜 제외

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

x = url.split('/')
print(x)
print()
domain = x[2]
print(domain)

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

a = url.split('/')
print(a[2])

In [ ]:
#[과제] url에서 쿼리문을 추출하여 출력하세요.
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

do=url.find('?')
print(url[do+1:])   #쿼리문 전체

qr=[]
qr=url[do+1:].split('&')   #각 '변수=값' 분리
print(qr)

In [ ]:
x = url.split('?')
print(x[-1])

In [ ]:
x=url.split('?')
query=x[1]
a=query.split('&')
print(a)

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
x = url.split('?')
print(x)
y = x[1]
z = y.split('&')
print(z)